body{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
}
.logo{
    height:28px;
    margin-right: 20px;
}

.nav_icon{
    height: 19px;
    margin-right: 15px; 
}


.main_row{
    margin-top:5px;
}

.search_col{
    padding-left:30px !important;
}


.recent_recipes{
    margin-top:20px;
}


ul{
    margin: 0 0 0 15px;
    padding: 0;

}



.modal-dialog {
    max-width: 850px !important;
    margin: 1rem auto !important;
    
}
.modal-content{
    border:none !important;
}



@media (min-width: 1200px){
    .container {
        max-width: 1240px !important;
    }
}
